body{
    margin:0;
    padding:0;
}

h1{
    color: #abb2ff;
    font-family: roboto;
    padding:0 ;
    margin:0;
}

a{
    color: #abb2ff;
    font-family: roboto;
    padding:0 ;
    margin:0;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    border:1px red solid;
    align-items: center;
}