.ex1{
    width: 200px;
    height: 100px;
    border: 3px green solid;
}

.ex2{
    width:150px ;
    height:150px ;
    border: 10px blue solid;
}

.ex3{
    text-align: center;
    color: purple;
}